---
// src/layouts/Layout.astro
import SEO from '../components/SEO.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../index.css';

export interface Props {
  title: string;
  description: string;
  url: string;
}

const { title, description, url } = Astro.props;
---

<!doctype html>
<html lang="en">
  <SEO title={title} description={description} url={url} />
  <body class="bg-black text-zinc-100 font-sans antialiased min-h-screen flex flex-col">
    <!-- Navbar -->
    <Header />

    <!-- Main Content -->
    <slot />

    <!-- Footer -->
    <Footer />
  </body>
</html>
